.logo{
  height: 70px;
  width: 70px;
}

.headerSize {
  height: 150px;
}

.topRow {
  align-content: center;
  text-align: center;
}

iframe{
  width: auto;
}

.topSection {
  background: -webkit-linear-gradient(69deg, white 51%, rgb(116, 10, 134) 51%);
}

.secondRow {
  background: -webkit-linear-gradient(90deg, white 21%, rgb(255, 251, 0) 21%);
}

.circlePic {
 height: 200px;
 width: 200px;
 border-radius: 50%;
}

.buttonUp {
  position: relative;
  top: -30px;
}

.card {
  background-color: rebeccapurple;
}

.scottishWarrior {
  height: 300px;
  width: auto;
}

.logoBottom {
  background-color: rebeccapurple;
}

.logoBig {
   height: 150px;
  width: 150px;
}

.footerRow {
  height: 40px;
  background-color: black;
  border-top-color: red;
  border-width: 2px;
  border-style: solid;
}

.bottomLeft {
align-content: flex-start;
}

.bottomRight {
align-content: flex-end;
}