.logo{
  height: 70px;
  width: 70px;
}

.headerSize {
  height: 150px;
}

.topRow {
  align-content: center;
  text-align: center;
}

iframe{
  width: auto;
}

.topSection {
  background: -webkit-linear-gradient(69deg, white 51%, rgb(116, 10, 134) 51%);
}

.secondRow {
  background: -webkit-linear-gradient(90deg, white 21%, rgb(255, 251, 0) 21%);
}

.circlePic {
 height: 200px;
 width: 200px;
 border-radius: 50%;
}

.buttonUp {
  position: relative;
  top: -30px;
}

.card {
  background-color: rebeccapurple;
}
